<ul class="list bg-base-100 rounded-box shadow-md flex items-center justify-center">

    <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Other Contact Methods</li>

    <li class="list-row">
        <div>Email</div>
        <div>ranjan400@yahoo.co.in</div>
    </li>
    <li class="list-row">
        <div>Phone</div>
        <div><a href="tel:+919899309861">+91 9899309861</a></div>
    </li>
</ul>