<footer class="footer sm:footer-horizontal bg-base-300 text-base-content p-10">
  <nav>
    <h6 class="footer-title"><a class="link link-hover" href="/">Company</a></h6>
    <a class="link link-hover" href="/about">About Us</a>
    <a class="link link-hover" href="/contact">Get in Touch</a>
  </nav>
</footer>
